---
import Image from "@components/primitives/image/image.astro";
import Component from "@components/utils/renderBlock.astro";

const {
  label,
  contentBlocks,
  paddingHorizontal = "sm",
  paddingVertical = "sm",
  colorScheme,
  backgroundColor,
  backgroundImage,
  link,
  rounded = false,
  border = false,
  class: className,

  ...rest
} = Astro.props;

const {
  source = "",
  alt = "",
  positionVertical = "top",
  positionHorizontal = "center",
} = backgroundImage || {};

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => !key.startsWith("_"))
);

const Tag = link ? "a" : "div";
---

<Tag
  {...htmlAttributes}
  {...link && { href: link }}
  class:list={["card", rounded && "rounded", border && "border", className]}
  data-theme={colorScheme}
>
  {
    source && (
      <Image
        class:list={[
          "background-image",
          positionVertical && positionHorizontal && `${positionVertical}-${positionHorizontal}`,
        ]}
        src={source}
        alt={alt}
      />
    )
  }
  {
    backgroundColor && (
      <div class:list={["background", backgroundColor && `bg-${backgroundColor}`]} />
    )
  }

  <div class="outer-content">
    <div
      class:list={[
        "content",
        paddingHorizontal && `pad-x-${paddingHorizontal}`,
        paddingVertical && `pad-y-${paddingVertical}`,
      ]}
    >
      <slot />
      <Component contentBlocks={contentBlocks} />
    </div>
  </div>
</Tag>
