---
import Component from "@components/utils/renderBlock.astro";
import Image from "@core-elements/image/Image.astro";

const {
  label,
  contentSections,
  beforeContentSections,
  afterContentSections,
  maxContentWidth,
  paddingHorizontal,
  paddingVertical,
  colorScheme,
  backgroundColor,
  backgroundImage,
  link,
  tags,
  showBeforeAfter = true,
  rounded = false,
  border = false,
  class: className,
  editable = true,
  ...rest
} = Astro.props;

const {
  source = "",
  alt = "",
  positionVertical = "top",
  positionHorizontal = "center",
} = backgroundImage || {};

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_component")
);

const slugifyLabel = (label: string) => {
  return label
    .toLowerCase()
    .replace(/[^a-z0-9]+/g, "-")
    .replace(/^-+|-+$/g, "");
};

if (!htmlAttributes.id && label) {
  htmlAttributes.id = slugifyLabel(label);
}

const Tag = link ? "a  transition-all" : "div  transition-all";

---

<Tag
  {...htmlAttributes}
  {...link && { href: link }}
  class="relative group w-fit"
  data-theme={colorScheme}
>
<div
class:list={["card", rounded && "rounded-t-xl", " max-w-72 -rotate-3 hover:rotate-0 duration-300  relative z-20 origin-center overflow-hidden", className]}
>
  <div class="group-hover:max-h-48 transition-all duration-300 overflow-hidden bg-[#FF9202] pt-6 px-6">
    <div class="z-40 relative group-hover:scale-75 group-hover:-translate-y-2 transition-transform duration-300 origin-center">
      <Image
        class:list={["w-full block mx-auto"]}
        source={source}
        alt={alt}
        editable={editable}
        data-prop-src="backgroundImage.source"
        data-prop-alt="backgroundImage.alt"
        positionVertical={positionVertical}
        positionHorizontal={positionHorizontal}
        background={false}
      />
    </div>
  </div>
  <!-- {backgroundColor && (
    <div
      aria-hidden="true"
      class:list={["background", backgroundColor && `bg-[#FF9202] h-fit bg-${backgroundColor}-600`]}
    />
  )} -->

  <!-- {
    ((beforeContentSections && showBeforeAfter) || Astro.slots.has("before")) && (
      <div class="before-content">
        <slot name="before">
          {beforeContentSections && (
            <Component contentSections={beforeContentSections} propName="beforeContentSections" />
          )}
        </slot>
      </div>
    )
  } -->

    <div class="py-6 px-6 outer-content duration-400 ease-in-out group-hover:-translate-y-24 transition bg-[#FF9202] rounded-b-xl">
      <!-- <div
        class:list={[
          "content",
          paddingHorizontal && `pad-x-${paddingHorizontal}`,
          paddingVertical && `pad-y-${paddingVertical}`,
          maxContentWidth && `max-width-${maxContentWidth}`,
        ]}
      > -->
        <div>
        <slot>
          {
            contentSections && (
              <Component contentSections={contentSections} propName="contentSections" />
            )
          }
        </slot>
      </div>
    </div>
  <!-- {
    ((afterContentSections && showBeforeAfter) || Astro.slots.has("after")) && (
      <div class="after-content">
        <slot name="after">
          {afterContentSections && (
            <Component contentSections={afterContentSections} propName="afterContentSections" />
          )}
        </slot>
      </div>
    )
  } -->
  </div>

   {tags && (
    <div class="card-tags absolute bottom-4 left-4 max-w-72 z-10 flex flex-wrap justify-center -rotate-3 group-hover:rotate-0 transition duration-300 -translate-y-4 opacity-50 group-hover:translate-y-0 group-hover:opacity-100">
      {tags.map((tag: string) => (
        <span class="card-tag bg-[#2FA0F8] nth-[2]:bg-[#FF6D39] nth-[3]:bg-[#F7B5ED] rounded-full py-2 px-4 m-1 text-xs  text-white font-semibold
        rotate-2 nth-[2]:rotate-3 nth-[3]:-rotate-2
        ">{tag}</span>
      ))}
    </div>
  )}
</Tag>